main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .banner{
        position: relative;
    }

    & .banner h1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        color: white;
        font-size: 50px;
    }

    & .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 70%;

    }

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 5px;
        color: #2F2F2F;
        
    }

    & .text p{
        margin: 10px;
        width: 1250px;
        text-align: center;
        color: #2F2F2F;
    }

    & .valueslist{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1250px;
    }

    & ul{
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: start;
        text-align: justify;
    }

    & li{
        padding: 10px;
        color: #AC0202;
    }
}

@media only screen and (max-width: 1250px) {
    main{
        & .banner img{
            height: 100%;
        }
        
        & .text p{
            width: 100%;
        }

        & .valueslist{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 790px){
    main{
        & .banner h1{
            font-size: 37px;
        }
    }
}

@media only screen and (max-width: 600px) {
    main{
        & .banner h1{
            font-size: 35px;
        }

        & .banner img{
            height: 100px;
        }
        
        & .text p{
            width: 100%;
        }

        & .valueslist{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 557px){
    main{
        & .banner h1{
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 479px){
    main{
        & .banner h1{
            font-size: 20px;
        }
    }
}