main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .banner {
        position: relative;
    }

    & .content{
        width: 100% !important;
    }

    & .bannerlink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        gap: 45px;
        color: white;
    }

    & .banner h1 {
        padding: 20px;
        font-size: 50px;
    }

    & ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & .listcontact img {
        position: relative;
    }

    & .telephoneicon {
        width: 15px;
        right: 5px;
        top: 1px;
    }

    & .whatsicon {
        width: 18px;
        right: 5px;
        top: 3px;
    }

    & .emailicon {
        width: 18px;
        right: 5px;
        top: 5px;
    }

    & .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    & .line {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #A6A6A6;
        width: 1050px;
    }

    & .information {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    & .first-line {
        display: flex;
        width: 1050px;
    }

    & #name {
        width: 60%;
    }

    & #email {
        width: 40%;
    }

    & #subject {
        width: 70%;
    }

    & #phone {
        width: 30%;
    }

    & .second-line {
        display: flex;
        width: 1050px;
    }

    & .information input {
        border: solid 1px #A6A6A6;
        height: 40px;
        padding: 2px 5px;
        border-radius: 35px;
    }

    & textarea {
        border: solid 1px #A6A6A6;
        ;
        height: 150px;
        width: 1050px;
        border-radius: 20px;
        padding: 5px 10px;
    }

    & .sendmessage {
        cursor: pointer;
        font-size: 20px;
        width: 30%;
        height: 35px;
        border: none;
        color: white;
        background-color: #AC0202;
    }
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1275px) {
    main {
        & .banner h1 {
            padding: 15px;
        }
    }

}

@media only screen and (max-width: 1200px) {
    main {
        & .banner h1 {
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 1050px) {
    main {
        & .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .information {
            display: flex;
            flex-direction: column;
            width: 850px;
        }

        & .first-line {
            width: 850px;
        }

        & .second-line {
            width: 850px;
        }

        & .line {
            width: 850px;
        }

        & textarea {
            width: 850px;
        }

        & .sendmessage {
            font-size: 17px;
            width: 35%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    main {
        & .banner h1 {
            font-size: 40px;
        }

        & ul {
            display: none;
        }

    }
}

@media only screen and (max-width: 850px) {
    main {
        & .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .information {
            display: flex;
            flex-direction: column;
            width: 635px;
        }

        & .first-line {
            width: 635px;
        }

        & .second-line {
            width: 635px;
        }

        & .line {
            width: 635px;
        }

        & textarea {
            width: 635px;
        }

        & .sendmessage {
            font-size: 15px;
            width: 35%;
        }
    }
}

@media only screen and (max-width: 635px) {
    main {
        & .banner h1 {
            font-size: 35px;
        }

        & .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .information {
            display: flex;
            flex-direction: column;
            width: 600px;
        }

        & .first-line {
            width: 600px;
        }

        & .second-line {
            width: 600px;
        }

        & .line {
            width: 600px;
        }

        & textarea {
            width: 600px;
        }

        & .sendmessage {
            font-size: 16px;
            width: 35%;
        }

    }
}

@media only screen and (max-width: 600px) {
    main {

        & .banner h1 {
            font-size: 30px;
        }

        & .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .information {
            display: flex;
            flex-direction: column;
            width: 450px;
        }

        & .first-line {
            width: 450px;
        }

        & .second-line {
            width: 450px;
        }

        & .line {
            width: 450px;
        }

        & textarea {
            width: 450px;
        }

        & .sendmessage {
            font-size: 14px;
            width: 35%;
        }
    }
}

@media only screen and (max-width: 479px) {
    main {
        & .banner h1 {
            font-size: 20px;
        }

        & .sendmessage {
            font-size: 13px;
            width: 35%;
        }
    }
}

@media only screen and (max-width: 450px) {
    main {
        & .banner h1{
            font-size: 18px;
        }

        & .information {
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        & .first-line {
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        & #name{
            width: 300px;
        }

        & #email{
            width: 300px;
        }

        & .second-line {
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        & #subject{
            width: 300px;
        }

        & #phone{
            width: 300px;
        }

        & .line {
            width: 300px;
        }

        & textarea {
            width: 300px;
        }
        & .sendmessage {
            font-size: 12px;
            width: 50%;
        }
    }
}