*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-regular", monospace;
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../font/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}