* {
    margin: 0;
    padding: 0;
    overflow-y: none;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px red; */
    padding: 5px;

    & .logolist {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
    }

    & .logo img {
        height: 65px;
    }

    & ul {
        list-style: none;
        display: flex;
        gap: 35px;
    }

    & a {
        text-decoration: none;
        color: gray;
        transition: 0.2s;
    }

    & a:hover {
        color: #AF1111;
    }

    & .whatsapp {
        position: absolute;
        right: 0;
        border: solid 1px #25A722;
        display: flex;
        background-color: #25A722;
        border-radius: 35px;
        padding: 1px 10px 1px 10px;
    }

    & .whatsapp img {
        width: 40px;
    }

    & .whatsapp a {
        padding: 10px;
        color: white;
        font-size: 20px;
    }

    & .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 1.8rem;
        z-index: 5;
    }

    & .list-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.2rem;
        width: 80%;
    }

    & .list-mobile li {
        border-bottom: solid 1px #DBDBDB;
        padding-bottom: 1.2rem;
    }

    & .list-mobile a {
        color: #AC0202;
    }


    & .hamburger,
    .close {
        font-size: 24px;
        background: none;
        border: none;
        color: #AC0202;
        cursor: pointer;
        display: none;
    }

    & .close {
        margin-right: 20px;
        margin-top: 20px;
        display: block;
        align-self: end;

    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 125px;
    padding: 15px;
    gap: 5px;


    & .contactlist {
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        left: 0;
    }

    & .logo img {
        height: 65px;
    }

    & .bar {
        border: solid 1px silver;
        width: 525px;
    }

    & ul {
        list-style: none;
        gap: 65px;
    }

    & .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
    }

    & .copyright ul {
        display: flex;
    }

    & p {
        color: gray;
    }

    & a {
        text-decoration: none;
        color: grey;
        transition: 0.2s;
    }

    & .copyright a:hover {
        color: #AF1111;
    }

    .devs {
        position: relative;
        top: 1.3vh;
    }
}

.result-div {
    padding: 10px;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;

    & i {
        font-size: 22px;
    }
}

.success {
    border: solid 2px rgb(6, 117, 6);
    color: rgb(6, 117, 6);
}

.error {
    border: solid 2px rgb(156, 22, 22);
    color: rgb(156, 22, 22);
}


@media only screen and (max-width: 1280px){
    html{
        font-size: 15px;
    }

    footer{
        & .contactlink li{
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 1200px){
    footer{
        & .contactlink li{
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px){
    html{
        font-size: 13px;
    }

    header{
        & .whatsapp {
            visibility: hidden;
        }

        & .whatsapp img {
            display: none;
        }

        & .whatsapp a {
            display: none;
        }

        & .listlink {
            display: none;
        }

        & .hamburger {
            display: block;
        }
    }

    footer{
        & .contactlink li {
            display: none;
        }
    }
}

@media only screen and (max-width: 800px){
    footer{
        & .logo img {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }

    header {
        & .logo img {
            height: 50px;
        }

        & .whatsapp {
            visibility: hidden;
        }

        & .whatsapp img {
            display: none;
        }

        & .whatsapp a {
            display: none;
        }

        & .listlink {
            display: none;
        }

        & .hamburger {
            display: block;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .bar {
            width: 400px;
        }

        & .contactlink li {
            display: none;
        }
    }
}

@media only screen and (max-width: 425px){
    footer{
        & .copyright{
            height: 350px;
        }
    }
}

@media only screen and (max-width: 320px){
    html{
        font-size: 10px;
    }

    header{
        & .logo img{
            height: 40px;
        }
    }

    footer{
        & .logo img{
            visibility: hidden;
        }

        & .bar{
            width: 300px;
        }

        & .listlink li{
            gap: -5px;
        }
    }
}