* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", monospace;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px red; */
    padding: 5px;

    & .logolist {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    & .logo img {
        height: 65px;
    }

    & ul {
        list-style: none;
        display: flex;
        gap: 15px;
    }

    & a {
        text-decoration: none;
        color: gray;
    }

    & a:hover{
        color: red;
        transition: 0.2s;
    }

    & .whatsapp {
        border: solid 1px #25A722;
        display: flex;
        background-color: #25A722;
        border-radius: 35px;
        padding: 1px 10px 1px 10px;
    }

    & .whatsapp img {
        width: 40px;
    }

    & .whatsapp a {
        padding: 10px;
        color: white;
        font-size: 20px;
    }
}


main {
    .banner img{
        width: 100%;
    }

    .title h1{
        display: flex;
        justify-content: center;
    }

    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DBDBDB;
        border: solid 1px blue;
        padding: 5px;
        gap: 15px;
        text-align: justify;
    }

    .text p{
        border: solid 1px pink;
        width: 850px;
        color: gray;
        padding: 5px;
        gap: 10px;
        text-indent: 15px;
    }

    .text a{
        border: solid 1px #AC0202;
        display: flex;
        background-color: #AC0202;
        border-radius: 35px;
        width: 370px;
        padding: 1px 10px 1px 10px;
        color: white;
        text-decoration: none;
    }

    .information img{
        width: 550px;
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px green; */
    height: 125px;
    padding: 5px;
    gap: 5px;

    & .contactlist {
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        left: 0;
    }

    & .logo img {
        height: 65px;
    }

    & .bar {
        border: solid 1px silver;
        width: 525px;
    }

    & ul {
        list-style: none;
        gap: 45px;
    }

    & a {
        text-decoration: none;
        color: grey;
    }

    & .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
        /* border: solid 1px yellow; */
    }

    & .copyright ul {
        display: flex;
    }

    & p {
        color: gray;
    }

    & .copyright a:hover{
        color: red;
        transition: 0.2s;
    }
}

.result-div{
    padding: 10px;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;

    & i{
        font-size: 22px;
    }
}

.success{
    border: solid 2px rgb(6, 117, 6);
    color: rgb(6, 117, 6);
}

.error{
    border: solid 2px rgb(156, 22, 22);
    color: rgb(156, 22, 22);
}