main {
    & .banner img {
        width: 100%;
    }

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        padding: 5px;
    }

    & .information {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DBDBDB;
        border-radius: 60px 60px 0px 0px;
        padding: 30px;
    }

    & .text {
        display: flex;
        flex-direction: column;
        margin: 25px;
        height: 70%;
        width: 50%;

    }

    & .text p {
        height: 125px;
        padding: 5px;
        gap: 10px;
        color: #343434;
        text-align: justify;
    }

    & .text a {
        border: solid 1px #AC0202;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AC0202;
        border-radius: 35px;
        height: 35px;
        width: 370px;
        padding: 1px 10px 1px 10px;
        color: white;
        text-decoration: none;
        max-width: 768px;
    }

    & .banneraboutus img {
        margin: 25px;
        height: 350px;
        width: 550px;
    }

    & .allproducts {
        background-color: #AC0202;
        border-radius: 60px 60px 0px 0px;
        padding: 15px;
        height: 515px;
    }

    & .productslist {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    & .card {
        margin: 20px;
        height: 343px;
        width: 300px;
        border: solid 1px #979797;
        background-color: white;
        border-radius: 15px;
    }

    & .card a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .card img {
        height: 315px;
        width: 300px;
        border-radius: 15px;
    }

    & .card a {
        text-decoration: none;
        color: #343434;
    }

    & .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px;
    }

    & .button a {
        border: solid 1px white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 35px;
        height: 40px;
        width: 370px;
        padding: 1px 10px 1px 10px;
        color: black;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1280px){
    
}

@media only screen and (max-width: 1145px) {
    main{
        & .text{
            font-size: 14px;
        }

        & .banneraboutus img {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 970px){
    main{
        & .text{
            width: 70%;
        }

        & .banneraboutus{
            display: none;
        }
        
        & .allproducts{
            height: 375px;
        }

        & .card {
            height: 225px;
            width: 150px;
        }

        & .card img {
            height: 185px;
            width: 150px;
        }

        & .card a {
            text-align: center;
        }

        & .button a {
            border-radius: 35px;
            height: 35px;
            width: 60%;
            padding: 1px 10px 1px 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    main {
        
        & .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        & .text p{
            font-size: 13px;
        }

        & .text a{
            height: 35px;
            width: 100%;
        }

        & .banneraboutus{
            display: none;
        }


        & .allproducts{
            height: 325px;
        }

        & .card {
            height: 175px;
            width: 115px;
        }

        & .card img {
            height: 135px;
            width: 115px;
        }

        & .card a {
            text-align: center;
        }

        & .button a {
            height: 35px;
            width: 80%;
        }
    }
}

@media only screen and (max-width: 585px){
    main{
        & .button a {
            width: 70%;
        } 
    }
}

@media only screen and (max-width: 475px){
    main{
        & .information{
            height: 405px;
        }

        & .text{
            height: 370px;
            width: 320px;
        }

        & .text p{
            font-size: 12px;
            height: 150px;
        }

        & .text a{
            font-size: 11px;
        }

        & .allproducts{
            height: 935px;
        }

        & .productslist{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .card{
            height: 225px;
            width: 300px;
        }

        & .card img{
            height: 205px;
            width: 300px;
        }

        & .button a {
            font-size: 11px;
            width: 95%;
        }
    }
}

@media only screen and (max-width: 385px){
    main{
        & .text a{
            text-align: center;
        }
    }
}

@media only screen and (max-width: 365px){
    main{
        & .information{
            height: 455px;
        }

        & .text{
            height: 425px;
            width: 320px;
        }

        & .text p{
            height: 175px;
            font-size: 11px;
        }

        & .card{
            height: 225px;
            width: 265px;
        }

        & .card img{
            height: 205px;
            width: 265px;
        }
    }
}