main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .banner{
        position: relative;
    }

    & .banner h1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        color: white;
        font-size: 50px;
    }

    & .products{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    & .cards {
        height: 350px;
        margin: 20px;
        width: 335px;
        border: solid 1px #979797;
        background-color: white;
        border-radius: 15px;
        transition: 0.4s;
    }

    & .cards a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .cards img {
        height: 325px;
        width: 335px;
        border-radius: 15px;
    }

    & .cards a {
        text-decoration: none;
        color: #979797;
    }
}

@media only screen and (max-width: 1100px){
    main{   
        & .cards {
            height: 275px;
            width: 215px;
            text-align: center;
        }

        & .cards img {
            height: 225px;
            width: 215px;
        }
    }
}

@media only screen and (max-width: 1000px){
    main{
        & .cards {
            height: 250px;
        }
    }
}

@media only screen and (max-width: 740px){
    main{
        & .banner h1{
            font-size: 40px;
        }
        
        & .cards {
            height: 227px;
            width: 175px;
            text-align: center;
            font-size: 14px;
        }

        & .cards img {
            height: 185px;
            width: 175px;
        }
    }
}

@media only screen and (max-width: 600px) {
    main{
        & .banner h1{
            font-size: 35px;
        }
        
        & .banner img{
            height: 100px;
        }

        & .cards {
            height: 225px;
            width: 150px;
            text-align: center;
        }

        & .cards img {
            height: 185px;
            width: 150px;
        }


    }
}

@media only screen and (max-width: 557px){
    main{
        & .banner h1{
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 535px){
    main{
        & .products{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }    
}

@media only screen and (max-width: 479px){
    main{
        & .banner h1{
            font-size: 20px;
        }

        & .cards {
            height: 185px;
            width: 150px;
            text-align: center;
        }

        & .cards img {
            height: 145px;
            width: 100%;
        }

    }
}